.button {
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: var(--fw-bold);
    padding: var(--space-1) var(--space-3) var(--space-1) var(--space-1);
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;

    & span {
        background-color: var(--primary-color);
        padding: var(--space-1);
        font-size: 1.25rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: transform 0.4s;

        &:hover {
            transform: translateX(0.15rem) rotate(-30deg);
        }
    }

    &-link {
        color: var(--white-color);
        font-weight: var(--fw-bold);
        text-decoration: underline;
        transition: color 0.4s;

        &:hover {
            color: var(--primary-color);
        }
    }
}